<div class="row column text-center">
  <h4>Our Newest Products</h4>
  <hr>
</div>
<div class="row small-up-2 large-up-4">
  <% @products.each do |product| %>
      <%= render "product_row", product: product, line_item: @line_item %>
  <% end %>
</div>